<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <!-- Font Awesome CDN include karo -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- <h3>Menu Details :</h3>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li><%= listing.price.toLocaleString("en-IN") %></li>
    </ul>
    <br> -->
    <style>
        .buy {
            font-weight: 200;
            font-size: larger;
            color:  #218838;
        }
        .checked {
            color:  #218838;
        }
        .can{
           font-weight: 200;
            font-size: larger;
            color: #ff0000;
        }
        .nav-link{
             font-weight: 200;
            font-size: larger;
            color:  #218838;
        }


        .f-info-links a {
    text-decoration: none;
    color: #222222;
}


.show-img {
width: 40%; 
display: block; 

border-radius: 0.5rem; 
object-fit: cover;  
height: auto; 
max-height: 400px; 
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 2rem;
}
.f-info {
    text-align: center;
    height: 10rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.buy-btn {
  background-color: #ffa41c;         /* Green */
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.buy-btn:hover {
  background-color: #218838;         /* Darker green */
  text-decoration: none;
}
.can-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 24px;
     border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}
.can-btn:hover{
    background-color: #218838;
    text-decoration: none;
}







.f-info-socials a {
  text-decoration: none;
  transition: color 0.3s;
}

.f-info-socials a:nth-child(1):hover {
  color: #1877f2; /* Facebook Blue */
}
.f-info-socials a:nth-child(2):hover {
  color: #e1306c; /* Instagram Pink */
}
.f-info-socials a:nth-child(3):hover {
  color: #ff0000; /* LinkedIn Blue */
}

        
    </style>
    <h3 style="color: blue;">Munu Details:- </h3>
    <div class="row">
      <div class="col-8 offest-2">

     
     <h3><%= listing.title %> :</h3>
    </div>
    <div class=" card col-6 offset-2 show-card listing-card">
       <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
     <div class="card-body">
      <p class="card-text">
      
      <b><%= listing.title %></p> </b>
      
     </div>
    </div>
    <ul>
      <li><%= listing.title %></li>
      
      <br/>
      <li><%= listing.description %></li>
       <li> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      
     
    </ul>
    <h2>Delivery charges :-  &#8377; 40</h2>
    
    <% if(!currentUser){ %>
         <!-- <a class="nav-link " href="/signup"><b>Buy Now</b></a> -->
          <a href="/signup" class="buy-btn">Buy Now</a>
          

        <h1 style="color: #ff0000;">please signup for buy the food</h1>
      
    <% } %>
    

    <% if(currentUser){ %>
   <a href="/listings/<%= listing._id %>/buy" class="buy-btn">Buy Now</a>&nbsp; &nbsp;
   
    <a href="/listings/<%= listing._id %>/cancle" class="can-btn">Cancle</a>
    <h2>₹500 से ज्यादा के ऑर्डर पर डिलीवरी फ्री</h2>

   
   
   
   <%} %></br>
    </br> </br>


   


   <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a <i href="https://www.facebook.com/share/19nyENzRAD/" class="fa-brands fa-facebook" style="font-size: 24px ;"></i>&nbsp; &nbsp; &nbsp;  </a>
            <a <i  href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=qpexvi5" class="fa-brands fa-square-instagram" style="font-size: 24px ;"></i>&nbsp; &nbsp;&nbsp;  </a>
            <a <i  href="https://youtube.com/@ankurkumar-3?si=JRHq2H5lawvXVejf "   class="fa-brands fa-youtube" style="font-size: 24px ;"></i></a>

        </div>
       <div>
  <p> <i class="fa-solid fa-phone-volume"></i> +91 7667880272</p>
  <p> <i class="fa-solid fa-envelope"></i> ankurkumar89632@gmail.com</p>
    </div>


       
        
       
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="/terms">Terms</a>
             <a href="/listings/<%= listing._id %>/edit">-</a>
        </div>
    </div>
</footer>
    
   
   
</body>
</html>